.overlay {
    background: url('../../assets/images/beach.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}