#contactCont {
    margin-left: 30px;
    margin-right: 325px;
    border-bottom: 1px solid #003882;
    border-left: 1px solid #003882;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#phoneLabel {
    border-bottom: none;
    font-size: 18px;
}

#emailLabel, #gitLabel, #linkedInLabel {
    width: 50px;
    padding-right: 10px;
    border-bottom: none;
    font-size: 18px;
}

#phoneIcon, #emailIcon, #gitIcon, #linkedInIcon {
    padding-right: 15px;
    width: 5px;
    text-align: center;
    border-bottom: none;
}

#phoneTxt, #emailTxt, #gitTxt, #linkedInTxt {
    padding-left: 0px;
    border-bottom: none;
    font-size: 18px;
    color: #003882
}

#gitHub {
    border-bottom: none;
}

a {
    text-decoration: none;
    color: #003882;
}

/* iPhone 5/SE */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #contactCont {
        margin-left: 12px;
        margin-right: 30px;
    }
    #phoneLabel, #emailLabel, #gitLabel, #linkedInLabel{
        font-size: 20px;
    }
    
    #phoneTxt, #emailTxt, #gitTxt, #linkedInTxt {
        font-size: 20px;
    }
}

/* iPhone X  */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    #contactCont {
        margin-left: 7px;
        margin-right: 10px;
    }
    #phoneLabel, #emailLabel, #gitLabel, #linkedInLabel{
        font-size: 14px;
    }
    
    #phoneTxt, #emailTxt, #gitTxt, #linkedInTxt {
        font-size: 14px;
    }

@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
        #contactCont {
            margin-top: 10px;
        }    
    }
}