.main {
    overflow-x: auto;
}
.header {
    margin: 40px 30px 20px 30px;
    color: #555555;
    font-size: 40px;
}

.subHeader {
    margin: 10px 30px 40px 30px;
    color: #555555;
}

#appInfo {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: auto;
}
.appName {
    font-size: 40px;
    font-weight: bold;
}

hr {
    border: 1px solid #003882;
}

.appDesc {
    margin-top: 30px;
}

.listItem {
    padding-bottom: 5px;
}

.imgCont {
    object-fit: contain;
    text-align: center;
}

.appImg {
   margin-top: 20%;
   margin-bottom: 20%;
   width: auto;
   box-shadow: 10px 10px 5px grey;
}

/* iPhone 5/SE */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .header {
        margin-top: 100px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .subHeader {
        margin-top: 10px;
    }
    .appName {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 60px;
    }
    .appDesc {
        margin-top: 20px;
    }
    #appInfo {
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
    }
    .appImg {
        margin-top: 10px;
        margin-bottom: 10px; 
    }
}

/* iPhone X  */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
}


/* iPad 1/2/Mini/Air */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: portrait) {
    .header {
        margin-top: 100px;
        margin-bottom: 10px;
        font-size: 30px;
    }
}



